<div class="footer">
    <div class="ui responsive grid">
        <div class="five column row">
            <div class="column">
				<div class="ui link list">
                    <a href="{{ app_url_about }}" class="active item">关于麦博</a>
					<a href="{{ app_url_guide }}/company" class="{{ css_page_company }} item">公司介绍</a>
				    <a href="{{ app_url_guide }}/brand" class="{{ css_page_brand }} item">品牌文化</a>
					<a href="{{ app_url_guide }}/history" class="{{ css_page_history }} item">发展纪事</a>
					<a href="{{ app_url_guide }}/prize" class="{{ css_page_prize }} item">资质荣誉</a>
				</div>
            </div>
            <div class="column">
				<div class="ui link list">
                    <div class="active item">产品</div>
					<a href="{{ app_url_shop }}/speaker" class="{{ css_page_fire }} item">音响</a>
					<a href="{{ app_url_shop }}/headset" class="{{ css_page_try }} item">耳机</a>
					<a href="{{ app_url_shop }}/hifi" class="{{ css_page_incubator }} item">玄道HIFI</a>
				</div>
            </div>
            <div class="column">
				<div class="ui link list">
                    <div class="active item">新闻中心</div>
					<a href="{{ app_url_topic }}?cid=1701" class="item">媒体报道</a>
					<a href="{{ app_url_topic }}?cid=1702" class="item">新品动态</a>
					<a href="{{ app_url_topic }}?cid=1703" class="item">麦乐汇</a>
				</div>
            </div>
            <div class="column">
				<div class="ui link list">
                    <div class="active item">服务与支持</div>
					<a href="{{ app_url_guide }}/finishsaled" class="{{ css_page_finishsaled }} item">服务条款</a>
					<a href="{{ app_url_guide }}/outlets" class="{{ css_page_outlets }} item">销售网点</a>
					<!--a href="{{ app_url_guide }}/store" class="{{ css_page_store }} item">门店展示</a-->
                    <a href="http://113.98.196.141/tiaoma/index.asp?id=1&t=chan-pin-zhen-wei-cha-xun" class="item" target="_blank">防伪验证</a>
                    <a href="" class="{{ css_page_agreement }} item" target="_blank">资料下载</a>
				</div>
            </div>
            <div class="column">
				<div class="ui link list">
                    <div class="active item">联系方式</div>
                    <a href="{{ app_url_contact }}" class="{{ css_page_contact }} item">联系我们</a>
                    <div class="item">
                        <h2 class="ui small header">
                            <i class="circular ui phone icon"></i>
                            <div class="content">
                                <div class="sub header">
                                    800 830 5652<br/>
                                    400 830 5652
                                </div>
                            </div>
                        </h2>
                    </div>
                    <div class="item">
                        <a href="" title="新浪微博" target="_blank" rel="nofollow">
                            <i class="icon red weibo"></i>
                        </a>                        
                        <a href="" title="微信" target="_blank" rel="nofollow">
                            <i class="icon green wechat"></i>
                        </a>
                    </div>
                    <div class="item">
                        <p>
                            选择语言: <a href="{{ app_url_domain }}" target="_blank">中文</a> <a href="http://www.microlab-global.com" target="_blank">English</a>
                        </p>
                    </div>
				</div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="ui responsive grid">
		<div class="row">
			<div class="column">
                <p class="beian">Copyright © 2016 Microlab.com.All rights reserved. <br />
                    <img src="/images/gswj.png" class="gswj" >备案/许可证号：【<a href="http://www.beianbeian.com/beianxinxi/00aba633-1456-402a-aaf4-6cd69ab2ce52.html" target="_blank">粤ICP备11009417号</a>】</p>
			</div>
        </div>
    </div>
</div>
