{%extends 'layout/base.html'%}

{% block page_css %}
<style type="text/css">
.shopcate.banner {
	color: white;
	padding: 60px 0;
	background: url("/images/prize-bg.jpg") no-repeat scroll center center / cover rgba(56, 67, 77, 0.9);
}
.ui.horizontal.list > .item {
    margin-left: 1.5em;
}
.flexslider {
    background-color: rgb(247, 247, 247);
}
#carousel li .image {
    display: inline-block;
    overflow: hidden;
    width: 240px;
    max-height: 100px;
}
#carousel li .catitle {
    margin-top: 10px;
}
#carousel li .catitle a.active {
    color: rgb(214, 84, 84);
}

.active.category {
    color: #222;
    border-bottom: 2px solid #222;
    padding-bottom: 5px;
}
</style>
{% endblock %}

{% block content %}

{% category_list var:"list" gid:gid istop:1 only_open:1 current:parent_id show_all:1 %}
{% if list.rows %}
<div class="ui responsive grid">
    <div class="row">
        <div class="column">
			<div class="ui horizontal list">
                {% for cat in list.rows %}
                    {% if !cat._id %}
                    <a href="{{ app_url_action_base }}/shop/getlist?gid={{ gid }}" class="{{ cat.active }} item">{{ cat.title }}</a>
                    {% else %}
                    <a href="{{ cat.view_url }}" class="{{ cat.active }} item">{{ cat.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="shopcate banner">
    <div class="ui responsive grid">
        <div class="row">
            <div class="center aligned column">
                {% if !current_category.pid %}
				<div class="ui white button">{{ gtitle}} {% if current_category %} / {{ current_category.title }} {% else %} / 全部{% endif %}</div>
                {% else %}
                <div class="ui white button">{{ gtitle}} / {{ parent_category.title }} / {{ current_category.title }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="shoplist">
    
    <div class="ui responsive grid">
        {% if parent_id %}
        <div class="row">
            <div class="column">
                {% category_list var:"children" pid:parent_id current:current_category._id show_all:1 %}
                {% if children.rows %}
                <div class="ui horizontal list">
                    {% for child in children.rows %}
                        {% if !child._id %}
                        <a href="{{ app_url_action_base }}/shop/getlist?gid={{ gid }}&category_id={{ parent_id }}" class="{% if current_category._id == parent_id %}active{% endif %} item">{{ child.title }}</a>
                        {% else %}
                        <a href="{{ child.view_url }}" class="{{ child.active }} item">{{ child.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        
        {% product_list var:'products' category_id:query_category_id published:2 page:page size:12 %}
        <div class="row">
            <div class="column">
                {% if products.rows %}
                <div class="ui three cards">
                    {% for product in products.rows %}
                    <div class="card">
                        <a href="{{ product.view_url }}" title="{{ product.title }}" class="image">
                            <img src="{{ product.cover.thumbnails.large.view_url }}" />
                        </a>
                    
                        <div class="content">
                            <h4 class="title">
                                <a href="{{ product.view_url }}" title="{{ product.title }}">{{ product.title }}</a>
                            </h4>
                            <p class="advantage">{{ product.advantage }}</p>
                            <p class="price">RMB{{ product.sale_price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
				<div class="ui icon grey message">
                    <i class="info icon"></i>
                    <div class="content">
                        <div class="header">
                            该类别下暂时未上架产品，请尝试浏览其他类别的产品。
                        </div>
                    </div>
				</div>
                {% endif %}
            </div>
        </div>
        {% if products.total_page > 1 %}
        <div class="row">
            <div class="center aligned column">
        		{% pager url:pager_url,total_rows:products.total_rows,total_page:products.total_page,current_page:page,var:'pager',pager_size:9 %}
        		{%include 'block/pager.html'%}
            </div>
        </div>
        {% endif %}
    </div> 
</div>
{% endblock %}