.ui.secondary.pointing.menu .item {
    color: #ffffff !important;
    padding: 0.857143em 1.14286em;
    display: inline-block;
    font-size: 16px !important;
    float: left;
}
.ui.secondary.pointing.menu .img.item {
    width: 190px !important;
    padding-top: 0.85em !important;
}
.ui.secondary.pointing.menu .icon.item {
    width: 40px !important;
    padding-top: 0.95em !important;
}
.ui.secondary.pointing.menu .right.menu {
    float: right;
    width: 150px !important;
}

.login.box {
    width: 600px !important;
}
.ui.grid > .row > .four.wide.column {
    width: 25% !important;
}

.footer .ui.grid .row .column {
    width: 19.5% !important;
}


.ui.three.cards > .card {
    width: 30.3333%;
    float: left;
    overflow: hidden;
    margin: 15px 15px 15px 0px;
    border: 1px solid rgb(212, 212, 213);
}
.ui.cards > .card > .image > img {
    width: 100% !important;
}